<div class="container">
  <div class="breadcrums">
  <ul  aria-label="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}">トップ</a>
    </li>

    {% if collection.handle %}
      <li>
        <a href="/collections/all"><span>商品一覧</span></a>
      </li>

      {% if template contains 'product' %}
        <li>
          <a href="/collections/{{ collection.handle }}"><span>{{ collection.title }}</span></a>
        </li>
      {% else %}
        <li>
          <span>{{ collection.title }}</span>
        </li>
      {% endif %}

    {% endif %}

    {% if template contains 'collections' %}
      <li><a href="/collections/all"><span>商品一覧</span></a></li>
    {% endif %}

    {% if template contains 'product' %}
      <li>
        <span>{{ product.title }}</span>
      </li>
    {% endif %}

    {% if template contains 'cart' %}
      <li>
      <span>カート</span></li>
    {% endif %}


    {% if template contains 'blog' %}
      {% if current_tags %}
        <li>
          <a href="{{ blog.url }}">{{ blog.title }}</a>
        </li>
        <li>
        <span>{{ current_tags }}</span></li>
        {{ current_tags }}
      {% else %}
      <li><span>
        {{ blog.title }}</span></li>
      {% endif %}
    {% endif %}
    {% if template contains 'article' %}
      <li>
        <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title | escape }}</a>
      </li>
      <li>
        <span>{{ article.title }}</span></li>
      
    {% endif %}
    {% if template contains 'page' %}
      <li><span>
      {{ page.title }}</span></li>
    {% endif %}
    {% if template contains 'search' %}
      <li><span>
      検索</span></li>
    {% endif %}
    {% if template contains 'customers' %}
      <li><span>アカウント</span></li>
    {% endif %}
  </ul>
</div>
</div>