{{ 'breadcrumbs.css' | asset_url | stylesheet_tag }}
<div class="container">
  <div class="breadcrums">
  <ul  aria-label="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}">Top</a>
    </li>
    {% if collection.url %}
      <li>
      <a href="{{ routes.all_products_collection_url }}">{{ 'sections.breadcrumbs.shop' | t }}</a>
      </li>
      {{ collection.title }}
    {% endif %}
    {% if template contains 'cart' %}
      <i>/</i>
      {{ 'sections.breadcrumbs.cart' | t }}
    {% endif %}
    {% if template contains 'product' %}
      <i>/</i>
      {{ product.title }}
    {% endif %}
    {% if template contains 'blog' %}
      {% if current_tags %}
        <li>
          <a href="{{ blog.url }}">{{ blog.title }}</a>
        </li>
        {{ current_tags }}
      {% else %}
        {{ blog.title }}
      {% endif %}
    {% endif %}
    {% if template contains 'article' %}
      <li>
      <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
      </li>
      {{ article.title }}
    {% endif %}
    {% if template contains 'page' %}
      <li>
      {{ page.title }}</li>
    {% endif %}
    {% if template contains 'search' %}
      <li>
      {{ 'sections.breadcrumbs.search' | t }}</li>
    {% endif %}
    {% if template contains 'customers' %}
      <li>
      {{ 'sections.breadcrumbs.my_account' | t }}</li>
    {% endif %}
  </ul>
</div>
</div>