<!-- /templates/customers/addresses.liquid -->
<section>
    <div class="page-header">
        <div class="container">
            <div class="cloud-1">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-2">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-3">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-4">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <h2 class="title-en">Address</h2>
            <h3 class="title-jp">住所</h3>
        </div>
        <div class="bg-anim-1"></div>
        <div class="bg-anim-2"></div>
        <div class="bg-anim-3"></div>
    </div>
</section>
<section id="home-contact" class="login">
    <div class="login-wrap">
        <div class="container">
            <div class="box-login">
          
                <h2>新しいアドレス</h2>
                {% form 'customer_address', customer.new_address %}
                
                    {{ form.errors | default_errors }}
                    
                        <div class="grid">
                        <!–姓–>
                        <div class="grid__item medium-up–one-half">
                        <label for="AddressLastNameNew">{{ ‘customer.addresses.last_name’ | t }}</label>
                        <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                        </div>

                        <!–名–>
                        <div class="grid__item medium-up–one-half">
                        <label for="AddressFirstNameNew">{{ ‘customer.addresses.first_name’ | t }}</label>
                        <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                        </div>
                        </div>

                        <div class="grid">
                        <!–国 / 地域–>
                        <div class="grid__item medium-up–one-half">
                        <label for="AddressCountryNew">{{ ‘customer.addresses.country’ | t }}</label>
                        <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                        </div>

                        <!–郵便番号–>
                        <div class="grid__item medium-up–one-half">
                        <label for="AddressZipNew">{{ ‘customer.addresses.zip’ | t }}</label>
                        <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                        </div>
                        </div>   

                        <div class="grid">
                        <div class="grid__item">
                        <!–都道府県–><div id="AddressProvinceContainerNew" style="display:none">
                        <label for="AddressProvinceNew">{{ ‘customer.addresses.province’ | t }}</label>
                        <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1″></select>
                        </div>

                        <!–市区町村–>
                        <label for="AddressCityNew">{{ ‘customer.addresses.city’ | t }}</label>
                        <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2″>

                        <!–住所–>
                        <label for="AddressAddress1New">{{ ‘customer.addresses.address1’ | t }}</label>
                        <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1″>

                        <!–建物名、部屋番号など–>
                        <label for="AddressAddress2New">{{ ‘customer.addresses.address2’ | t }}</label>
                        <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2″>

                        <!–会社名–>
                        <label for="AddressCompanyNew">{{ ‘customer.addresses.company’ | t }}</label>
                        <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">   

                        <!–電話番号–>
                        <label for="AddressPhoneNew">{{ ‘customer.addresses.phone’ | t }}</label>
                        <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                        </div>
                        </div>



                    <button type="submit" class="btn btn-block mb-2">追加</button>                    
                {% endform %}
  
            </div>
        </div>
        
        <div class="small-12 large-4 columns myaccount-sidebar">
          <div class="main-title"><p>{{ 'customer.account.details' | t }}</p></div>
          {% if customer.default_address %}
            <label>住所</label>
            <address>
              {{ customer.default_address.address1 -}}
              <br>
              {% if customer.default_address.address2 != '' %}
                {{ customer.default_address.address2 -}}
                <br>
              {% endif %}
              {{ customer.default_address.city }},
              {% if address.default_address.province_code %}{{ customer.default_address.province_code }}, {% endif -%}
              {{- customer.default_address.country -}}
              <br>
              {{ customer.default_address.zip -}}
              <br>
              {{ customer.default_address.phone }}
            </address>
          {% endif %}
          <a href="{{ routes.account_addresses_url }}" class="btn btn-main" style="margin-left:0">
            住所設定
          </a>
        </div>
    </div>
  </section>
  
  <style>
    .login-wrap {
        padding: 40px 0px 120px;
        background-color: white;
        position: relative;
    }
  
    .box-login {
        background: #fff;
        width: 540px;
        max-width: 100%;
        padding: 24px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 3px 4px rgba(153,155,168,.25);
        font-size: 14px;
        color: #25324B;
    }
  
   
  
    .box-login .welcome {
        font-size: 28px;
        font-weight: 700;
    }
  
    .box-login .note {
        color: #7C8493;
    }
  
    .form-group {
        margin-bottom: 1rem;
    }
  
    .input-label class="input-label" {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.19;
        color: #171347;
    }
  
    .box-login input.form-control, .box-login .btn {
        height: 48px !important;
        border-radius: 0;
        border: 1px solid #D6DDEB;
        background-color: #FAFBFC;
        box-shadow: none;
        display: block;
        font-size: 14px;
    }
  
    .box-login .btn:hover {
        background-color: #E0C143 !important;
        border-color: #E0C143 !important;
    }
  </style>