<!-- /templates/customers/login.liquid -->
<section>
    <div class="page-header">
        <div class="container">
            <div class="cloud-1">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-2">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-3">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-4">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <h2 class="title-en">Login</h2>
            <h3 class="title-jp">ログイン</h3>
        </div>
        <div class="bg-anim-1"></div>
        <div class="bg-anim-2"></div>
        <div class="bg-anim-3"></div>
    </div>
</section>
<section id="home-contact" class="login">
    <div class="login-wrap">
        <div class="container">
            <div class="box-login">
                <p class="welcome mb-2">ログイン</p>
                <p class="note">サービスの利用を開始するにはログインしてください</p>
                
                {% form 'customer_login' %}
                    {{ form.errors | default_errors }}
                
                    <div class=" form-group">
                        <label class="input-label" for="customer_email">メールアドレス</label>
                        <input name="customer[email]" type="email" class="form-control " id="customer_email">
                    </div>

                    <div class=" form-group">
                        <label class="input-label" for="customer_password">パスワード</label>
                        <input name="customer[password]" type="password" class="form-control " id="customer_password">
                    </div>
                
                    <button type="submit" class="btn btn-block mb-2">ログイン</button>

                    <div class="switch-login-section">
                        {{ 'customer.login_page.dont_have_an_account' | t }} <a href="{{ routes.account_register_url }}" class="text-button">{{ 'customer.login_page.create_account' | t }}</a>
                        <div>
                            <a href="#recover" class="text-button">{{ 'customer.login_page.forgot_password' | t }}</a>
                        </div>
                    </div>
                {% endform %}
                
                <p class="welcome mb-2">パスワードをお忘れですか</p>
                <p class="note">サービスの利用を開始するにはログインしてください</p>
                {% form 'recover_customer_password' %}
                    {{ form.errors | default_errors }}
                
                    <div class=" form-group">
                        <label class="input-label" for="customer_email">メールアドレス</label>
                        <input name="customer[email]" type="email" class="form-control " id="customer_email">
                    </div>                
                
                    <button type="submit" class="btn btn-block mb-2">ログイン</button>
                {% endform %}
            </div>
        </div>
    </div>
</section>

<style>
    .login-wrap {
        padding: 60px 0px;
        position: relative;
    }

    .box-login {
        background: #fff;
        width: 540px;
        max-width: 100%;
        padding: 24px;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0 3px 4px rgba(153,155,168,.25);
        font-size: 14px;
        color: #25324B;
    }

    #home-contact::after {
        border: none;
        background-image: url(https://edge.edu.a2ztech.vn/assets/images/ellipse.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #home-contact::after {
        border: none;
        background-image: url(https://edge.edu.a2ztech.vn/assets/images/ellipse.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .box-login .welcome {
        font-size: 28px;
        font-weight: 700;
    }

    .box-login .note {
        color: #7C8493;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .input-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.19;
        color: #171347;
    }

    .box-login input.form-control, .box-login .btn {
        height: 48px !important;
        border-radius: 0;
        border: 1px solid #D6DDEB;
        background-color: #FAFBFC;
        box-shadow: none;
        display: block;
        font-size: 14px;
    }
    .box-login .btn {
      background-color: #E0C143;
      border: none;
      width: 100%;
      margin-bottom: 0;
    }
    .box-login .btn:hover {
        background-color: #E0C143 !important;
        border-color: #E0C143 !important;
    }
</style>