<section>
  <div class="page-header">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <h2 class="title-en">News</h2>
          <h3 class="title-jp">お知らせ</h3>
      </div>
      <div class="bg-anim-1"></div>
      <div class="bg-anim-2"></div>
      <div class="bg-anim-3"></div>
  </div>
</section>
{% render 'breadcrumbs' %}
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}
<section id="single-content">
  <div class="container">
      <div class="single-content mt-85">
          <div class="box-post-title">
              <div class="box-single-top">
                  <div class="title-line">
                      <div class="infor-line">
                          <div class="date fs-sm-14">{{ article.created_at | date: '%Y年%m月%d日'  }}</div>
                          <div class="">
                            {% for blog in blogs %}
                                {% for article in blog.articles %}
                                  <a href="{{ article.url }}">{{ article.title }}</a>
                                {% endfor %}
                            {% endfor %}
                            <a href="#" class="cat catid-13">辻井循環器内科</a>
                          </div>
                      </div>
                      <div class="title-single pt-45 pt-sm-10">{{ article.title }}</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="post-content">
        {{ article.content }}
      </div>
  </div>
</section>
{% if blog.comments_enabled? %}
  <h2>{{ number_of_comments }} comments</h2>
  {% paginate article.comments by 5 %}
    {% for comment in article.comments %}
      <div>
        <div>{{ comment.content }}</div>
        {{ comment.author }} @ {{ comment.created_at }}
      </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  {% endpaginate %}
{% endif %}
