<section>
  <div class="page-header">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>

          {% if blog.url == "blog" %}
            <h2>Blog</h2>
          {% else %}
            <h2>News</h2>
          {% endif %}

          <h3 class="title-jp">{{ blog.title | escape }}一覧</h3>
      </div>
      <div class="bg-anim-1"></div>
      <div class="bg-anim-2"></div>
      <div class="bg-anim-3"></div>
  </div>
</section>
{% render 'breadcrumbs' %}
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}
<section id="single-content">
  <div class="container">
      <div class="single-content mt-85">
          <div class="box-post-title">
              <div class="box-single-top">
                  <div class="title-line">
                      <div class="infor-line">
                          <div class="date fs-sm-14">{{ article.created_at | date: '%Y年%m月%d日'  }}</div>
                          <div class="">
                             <a href="{{ blog.url | escape }}" class="cat catid-1">{{ blog.title | escape }}</a>
                          </div>
                      </div>
                      <div class="title-single pt-45 pt-sm-10">{{ article.title }}</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="post-content">
        {{ article.content }}
      </div>
      <div class="list-news-box">
        {% assign current_article_index = 0 %}
        {% assign current_article_handle = article.handle %}
        {% for blog in blogs %}
          {% for article in blog.articles %}
            {% if article.handle == current_article_handle %}
              {% assign current_article_index = forloop.index0 %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if current_article_index != 0 %}
            {% assign previous_article_index = current_article_index | minus: 1 %}
            {% assign next_article_index = current_article_index | plus: 1 %}
            {% if previous_article_index >= 0 %}
              <a href="{{ blogs[forloop.index0].articles[previous_article_index].url }}">Previous Article</a>
            {% endif %}
              <a href="{{ blog.url }}" class="btn-back">一覧へ戻る</a>
            {% if next_article_index < blog.articles.size %}
              <a href="{{ blogs[forloop.index0].articles[next_article_index].url }}">Next Article</a>
            {% endif %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
</section>
{% if blog.comments_enabled? %}
  <h2>{{ number_of_comments }} comments</h2>
  {% paginate article.comments by 5 %}
    {% for comment in article.comments %}
      <div>
        <div>{{ comment.content }}</div>
        {{ comment.author }} @ {{ comment.created_at }}
      </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  {% endpaginate %}
{% endif %}
