
<section>
  <div class="page-header">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          
          {% if blog.url == "/blogs/blog" %}
            <h2 class="title-en">Blog</h2>
          {% else %}
            <h2 class="title-en">News</h2>
          {% endif %}
          <h3 class="title-jp">{{ blog.title | escape }}</h3>
      </div>
      <div class="bg-anim-1"></div>
      <div class="bg-anim-2"></div>
      <div class="bg-anim-3"></div>
  </div>
</section>
{% render 'breadcrumbs' %}
{% paginate blog.articles by 5 %}

<script>
  console.log( {{ blog.url | json }});
</script>

<section>
  <div class="list-news-archive">
      <div class="container">
          <div class="main-title mx-auto">
              {% if blog.url == "/blogs/blog" %}
                <h2>Blog</h2>
              {% else %}
                <h2>News</h2>
              {% endif %}
              <p>{{ blog.title | escape }}一覧</p>
          </div>
          <div class="list-home-news mt-5">
            {% for article in blog.articles %}

              <div class="news-item item-list biggerlink">
                  <div class="date"><span>{{ article.created_at | date: '%Y年%m月%d日'  }}</span></div>
                  <div class="box-cat text-center">
                    <a href="{{ blog.url | escape }}" class="cat catid-1">{{ blog.title | escape }}</a>
                  </div>
                  <div class="title">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </div>
              </div>
            {% endfor %}            
          </div>
        </div>
    </div>
</section>

{% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}
