<section>
  <div class="banner-home">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="img-banner">
              <img src="{{ "izumo-full-1.png"| asset_url}}" class="img-fluid" alt="">
          </div>
      </div>
    <div class="bg-anim-1"></div>
    <div class="bg-anim-2"></div>
    <div class="bg-anim-3"></div>

  </div>
</section>
<section>
  <div class="home-about">
      <div class="container anim fadeup">
          <div class="main-title mx-auto">
              <h2>About Shimane Furusato Gochiso Mall </h2>
              <p>ふるさとごちそうモールとは</p>
          </div>
          <div class="home-text-about">
              <p>「ふるさとごちそうモール」とは、<br>
                  島根県の風土や文化を背景に、<br>
                  地元の特産品や伝統的な料理、<br>
                  そして地域の魅力を一堂に集めた<br>
                  オンラインショッピングモールです。
              </p>
              <p>
                  ここでは、出雲そばの風味豊かな香りや<br>
                  松江牛の上質な肉質、<br>
                  そして出雲大社や石見銀山といった<br>
                  歴史ある観光地への憧れが、<br>
                  商品を通じてあなたのお手元に届きます。<br>
                  また、地域の生産者や職人が<br>
                  心を込めて作り上げた逸品たちが、<br>
                  あなたの食卓や生活に<br>
                  彩りを与えることでしょう。
              </p>
              <p>ふるさとごちそうモールは、<br>
                  島根県ならではの豊かな文化や風景を<br>
                  世界中の皆様に届ける架け橋として、<br>
                  地域の魅力を広め、<br>
                  地域経済の活性化に貢献しています。
              </p>
              <p>どうぞ、このサイトを通じて、<br>島根県の素晴らしさをご堪能ください。</p>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="home-product">
      <div class="container anim fadeup">
          <div class="main-title mx-auto">
              <h2>Best Product</h2>
              <p>人気ランキング</p>
          </div>
          <div class="row g-4 pt-5 product-best">
            {% assign i = 0 %}
            {% for product in collections.best-products.products limit:4 %}
            {%- assign i = i | plus: 1 -%}
              <div class="col-lg-3 col-sm-6 product-item-{{ i }}">
                <div class="col-inner">
                  <div class="box-product">
                      <div class="img-product wishlist-box">
                        <a href="{{ product.url | within: collection }}">
                          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="box-title-product">
                          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                          <div class="price-product">
                              <p>{{ product.price | money }}</p><span>{{ product.compare_at_price | money }}</span>
                          </div>
                      </div>
                      <div class="box-rate-product">
                          <div class="rate-product">
                            {% render 'product-review' product: product,  handle:product.handle %}
                          </div>
                          <div class="box-btn-add-cart">
                            {% render 'product-card' product: product %}
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</section>
<section>
  <div class="home-region">
      <div class="container anim fadeup">
          <div class="main-title mx-auto">
              <h2>Regional specialties</h2>
              <p>地域の特産品</p>
          </div>
          <div class="box-home-region">
                <h2>雲南市</h2>
                <p>雲南市からは、独特の気候風土が育んだ新鮮な野菜や果物が届きます。例えば、季節ごとに異なる色とりどりの野菜や、甘みが濃厚な果物などがそろいます。これらの食材は、そのまま生で食べるだけでなく、料理のアクセントにも最適です。
                </p>
                <a href="/collections/unnan" class="btn btn-main">もっと見る</a>
          </div>
          <div class="row product-slide-sm">
            {% for product in collections.unnan.products limit:4 %}
              <div class="col-lg-3 col-sm-6">
                <div class="col-inner">
                  <div class="box-product">
                      <div class="img-product wishlist-box">
                        <a href="{{ product.url | within: collection }}">
                          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="box-title-product">
                          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                          <div class="price-product">
                              <p>{{ product.price | money }}</p><span>{{ product.compare_at_price | money }}</span>
                          </div>
                      </div>
                      <div class="box-rate-product">
                          <div class="rate-product">
                            {% render 'product-review' product: product,  handle:product.handle %}
                          </div>
                          <div class="box-btn-add-cart">
                            {% render 'product-card' product: product %}
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}  
          </div>
      </div>
  </div>
</section>

<section>
  <div class="home-region-2">
      <div class="container anim fadeup">
          <div class="box-home-region box-home-region-2">
                <h2>雲南市</h2>
                <p>雲南市からは、独特の気候風土が育んだ新鮮な野菜や果物が届きます。例えば、季節ごとに異なる色とりどりの野菜や、甘みが濃厚な果物などがそろいます。これらの食材は、そのまま生で食べるだけでなく、料理のアクセントにも最適です。
                </p>
                <a href="/collections/hamada" class="btn btn-main">続きを見る</a>
          </div>
          <div class="row product-slide-sm">
            {% for product in collections.hamada.products limit:4 %}
              <div class="col-lg-3 col-sm-6">
                <div class="col-inner">
                  <div class="box-product">
                      <div class="img-product wishlist-box">
                        <a href="{{ product.url | within: collection }}">
                          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="box-title-product">
                          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                          <div class="price-product">
                              <p>{{ product.price | money }}</p><span>{{ product.compare_at_price | money }}</span>
                          </div>
                      </div>
                      <div class="box-rate-product">
                          <div class="rate-product">
                            {% render 'product-review' product: product,  handle:product.handle %}
                          </div>
                          <div class="box-btn-add-cart">
                            {% render 'product-card' product: product %}
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}  
          </div>
      </div>
  </div>
</section>

<section>
  <div class="home-region-3">
      <div class="container anim fadeup">
          <div class="box-home-region box-home-region-3">
            <h2>雲南市</h2>
            <p>雲南市からは、独特の気候風土が育んだ新鮮な野菜や果物が届きます。例えば、季節ごとに異なる色とりどりの野菜や、甘みが濃厚な果物などがそろいます。これらの食材は、そのまま生で食べるだけでなく、料理のアクセントにも最適です。
            </p>
            <a href="/collections/izumo" class="btn btn-main">続きを見る</a>
          </div>
          <div class="row product-slide-sm">
            {% for product in collections.izumo.products limit:4 %}
              <div class="col-lg-3 col-sm-6">
                <div class="col-inner">
                  <div class="box-product">
                      <div class="img-product wishlist-box">
                        <a href="{{ product.url | within: collection }}">
                          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="box-title-product">
                          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                          <div class="price-product">
                              <p>{{ product.price | money }}</p><span>{{ product.compare_at_price | money }}</span>
                          </div>
                      </div>
                      <div class="box-rate-product">
                          <div class="rate-product">
                            {% render 'product-review' product: product,  handle:product.handle %}
                          </div>
                          <div class="box-btn-add-cart">
                            {% render 'product-card' product: product %}
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}  
          </div>
      </div>
  </div>
</section>

<section>
  <div class="home-news">
      <div class="containeranim fadeup">
          <div class="main-title mx-auto">
              <h2>News</h2>
              <p>お知らせ</p>
          </div>
          <div class="list-home-news mt-5">
            {% assign blog_handle = 'news' %}
            {% assign blog = blogs[blog_handle] %}
            {% for article in blog.articles %}
              <div class="news-item item-list biggerlink">
                  <div class="date"><span>{{ article.created_at | date: '%Y年%m月%d日'  }}</span></div>
                  <div class="box-cat text-center">
                    <a href="{{ blog.url | escape }}" class="cat catid-1">{{ blog.title | escape }}</a>
                  </div>
                  <div class="title">
                    <a href="{{ article.url }}">{{ article.title }}</a>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</section>
<section>
    <div class="home-blog">
        <div class="container anim fadeup">
            <div class="main-title mx-auto">
                <h2>Blog</h2>
                <p>島根のブログ</p>
            </div>
            <div class="row pt-3 product-slide-sm">
                {% assign blog_handle = 'blog' %}
                {% assign blog = blogs[blog_handle] %}
                {% for article in blog.articles %}
                    <div class="col-lg-3 col-sm-12">
                        <div class="col-inner">
                            <div class="box-blog-post">
                              <a href="{{ article.url }}">
                                  <div class="img-blog">
                                      <img src="{{ article | img_url: 'large' }}">
                                  </div>
                                  <div class="box-text-blog">
                                      <h3 class="title">{{ article.title }}</h3>
                                      <p class="date">{{ article.created_at | date: '%Y年%m月%d日'  }}</p>
                                  </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section>
  <div class="home-gallery ">
      <div class="container anim fadeup">
          <div class="row">
              <div class="col-lg-5 col-sm-12">
                  <div class="col-inner">
                      <div class="home-gallery-left">
                          <div class="main-title mx-auto">
                              <h2>Gallery</h2>
                              <p>島根のギャラリー</p>
                          </div>
                          <p>島根県のふるさとごちそうモールは、雲南市、浜田市、出雲市の特産品を集めたオンライン販売サイトです。新鮮な野菜や果物、海の幸、地元の名産品など、島根の豊かな食材や伝統的な味を手軽に購入できます。地域の魅力を広める取り組みとして、ぜひふるさとごちそうモールをご利用ください。</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-7 col-sm-12">
                  <div class="col-inner">
                      <div class="home-gallery-right text-center px-5">
                          <a href="#">
                            <img src="{{ 'insta.png' | asset_url }}">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container-fluid mt-4">
          <div class="row gap-0">
              <div class="col-4 col-md">
                  <div class="img-gallery">
                    <img src="{{ 'img-6.png' | file_img_url: "master" }}">
                  </div>
              </div>
              <div class="col-4 col-md">
                  <div class="img-gallery">
                    <img src="{{ 'img-2.png' | file_img_url: "master" }}">
                  </div>
              </div>
              <div class="col-4 col-md">
                  <div class="img-gallery">
                    <img src="{{ 'img-3.png' | file_img_url: "master" }}">
                  </div>
              </div>
              <div class="col-4 col-md">
                  <div class="img-gallery">
                    <img src="{{ 'img-4.png' | file_img_url: "master" }}">
                  </div>
              </div>
              <div class="col-4 col-md">
                  <div class="img-gallery">                    
                    <img src="{{ 'img-5.png' | file_img_url: "master" }}">
                  </div>
              </div>
              <div class="col-4 col-md">
                  <div class="img-gallery">
                    <img src="{{ 'img-6.png' | file_img_url: "master" }}">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="home-register">
      <div class="container relative z-5">
        <div class="justify-content-center row anim fadeup">
            <div class="col-lg-7 col-12">
                <div class="main-title mx-auto">
                    <h2>Register</h2>
                    <p>登録する</p>
                </div>
                <div class="box-form mt-3 d-none">
                    <input type="email" name="" class="form-control" placeholder="メールアドレスを入力" id="">
                    <input type="submit" class="submit-btn" value="登録する">
                </div>
                <mag-form><div class="mag-form" data-token="I0tOv2w7FZ6byzjeLTmA1Snt3RuStMyw"></div></mag-form>
                <p class="text-regis">地元の美味しい食材や観光スポットの最新情報をメールでお届けします。<br class="d-none d-lg-block">登録は簡単！今すぐメールアドレスをご入力ください。</p>
            </div>
        </div>
      </div>
        <div class="bg-anim-1"></div>
        <div class="bg-anim-2"></div>
        <div class="bg-anim-3"></div>
  </div>
</section>