<section>
  <div class="banner-home">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>

          <div class="img-banner">
              <img src="{{ "izumo-full.png"| asset_url}}" class="img-fluid" alt="">
          </div>
      </div>
  </div>
</section>
<section>
  <div class="home-about">
      <div class="container">
          <div class="main-title mx-auto">
              <h2>About Shimane Furusato Gochiso Mall </h2>
              <p>ふるさとごちそうモールとは</p>
          </div>
          <div class="home-text-about">
              <p>「ふるさとごちそうモール」とは、<br>
                  島根県の風土や文化を背景に、<br>
                  地元の特産品や伝統的な料理、<br>
                  そして地域の魅力を一堂に集めた<br>
                  オンラインショッピングモールです。
              </p>
              <p>
                  ここでは、出雲そばの風味豊かな香りや<br>
                  松江牛の上質な肉質、<br>
                  そして出雲大社や石見銀山といった<br>
                  歴史ある観光地への憧れが、<br>
                  商品を通じてあなたのお手元に届きます。<br>
                  また、地域の生産者や職人が<br>
                  心を込めて作り上げた逸品たちが、<br>
                  あなたの食卓や生活に<br>
                  彩りを与えることでしょう。
              </p>
              <p>ふるさとごちそうモールは、<br>
                  島根県ならではの豊かな文化や風景を<br>
                  世界中の皆様に届ける架け橋として、<br>
                  地域の魅力を広め、<br>
                  地域経済の活性化に貢献しています。
              </p>
              <p>どうぞ、このサイトを通じて、<br>島根県の素晴らしさをご堪能ください。</p>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="home-product">
      <div class="container">
          <div class="main-title mx-auto">
              <h2>Best Product</h2>
              <p>人気ランキング</p>
          </div>
          <div class="row pt-5">
            {% for product in collections.frontpage.products limit:4 %}
              <div class="col-lg-3 col-sm-6">
                <div class="col-inner">
                  <div class="box-product">
                      <div class="img-product">
                        <a href="{{ product.url | within: collection }}">
                          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="box-title-product">
                          <a href="#">{{ product.title }}</a>
                          <div class="price-product">
                              <p>{{ product.price | money }}</p><span>￥10,000 </span>
                          </div>
                      </div>
                      <div class="box-rate-product">
                          <div class="rate-product">
                              <div class="box-star">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <p>(14件)</p>
                              </div>
                              <p><span>100</span>購入したアイテム</p>
                          </div>
                          <div class="box-btn-add-cart">
                              <a href="{{ product.url }}" class="btn btn-cart"><img src="{{"icon-cart.svg" | asset_url}}" ></a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          <div>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="home-region">
      <div class="container">
          <div class="main-title mx-auto">
              <h2>Regional specialties</h2>
              <p>地域の特産品</p>
          </div>
          <div class="box-home-region">
              <div class="home-region-left">
                  <div class="box-title-icon">
                      <span>01</span>
                      <h2>雲南市</h2>
                  </div>
                  <p>雲南市からは、独特の気候風土が育んだ新鮮な野菜や果物が届きます。例えば、季節ごとに異なる色とりどりの野菜や、甘みが濃厚な果物などがそろいます。これらの食材は、そのまま生で食べるだけでなく、料理のアクセントにも最適です。
                  </p>
                  <a href="#" class="btn btn-main">続きを見る</a>
              </div>
              <div class="home-region-right">
                  <div class="home-region-img">
                      <img src="{{ 'home-region.png' | file_img_url: "master" }}">
                  </div>
              </div>
          </div>
          <div class="row">
            {% for product in collections.frontpage.products limit:4 %}
              <div class="col-lg-3 col-sm-6">
                <div class="col-inner">
                  <div class="box-product">
                      <div class="img-product">
                        <a href="{{ product.url | within: collection }}">
                          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                        </a>
                      </div>
                      <div class="box-title-product">
                          <a href="#">{{ product.title }}</a>
                          <div class="price-product">
                              <p>{{ product.price | money }}</p><span>￥10,000 </span>
                          </div>
                      </div>
                      <div class="box-rate-product">
                          <div class="rate-product">
                              <div class="box-star">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <p>(14件)</p>
                              </div>
                              <p><span>100</span>購入したアイテム</p>
                          </div>
                          <div class="box-btn-add-cart">
                              <a href="{{ product.url }}" class="btn btn-cart"><img src="{{"icon-cart.svg" | asset_url}}" ></a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}  
          </div>
          <div class="pt-5">
              <a href="#" class="btn btn-main btn-shop">続きを見る</a>
          </div>
      </div>
  </div>
</section>

