<section>
  <div class="page-header">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <h2 class="title-en">Product</h2>
          <h3 class="title-jp">商品一覧</h3>
      </div>
      <div class="bg-anim-1"></div>
      <div class="bg-anim-2"></div>
      <div class="bg-anim-3"></div>
  </div>
</section>
{% render 'breadcrumbs' %}
<section>
  <div class="list-product">
      <div class="container">
          <div class="main-title mx-auto">
              <h2>Collections</h2>
              <p>商品一覧</p>
          </div>

          <script>
            console.log( {% collections | json %})
          </script>

          {% comment %} {% paginate collections.products by 12 %}
            <div class="row pt-3">
              {% for product in collections.products %}
                <div class="col-lg-3 col-sm-6">
                  <div class="col-inner">
                      <div class="box-product">
                          <div class="img-product wishlist-box">
                            <a href="{{ product.url | within: collection }}">
                              <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                            </a>
                          </div>
                          <div class="box-title-product">
                              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                              <div class="price-product">
                                  <p>{{ product.price | money }}</p><span>{{ product.compare_at_price | money }}</span>
                              </div>
                          </div>
                          <div class="box-rate-product">
                              <div class="rate-product">
                                  {% render 'product-review' product: product,  handle:product.handle %}
                              </div>
                              <div class="box-btn-add-cart">
                                {% render 'product-card' product: product %}
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              {% else %}
                <div class="alert alert-danger" role="alert">
                  No matches
                </div>
              {% endfor %}
            </div>
            {% if paginate.pages > 1 %}<div class="pagination-wrapper">{{ paginate | default_pagination }}</div>{% endif %}
          {% endpaginate %} {% endcomment %}
        
  

      </div>
  </div>
</section>