<section>
  <div class="page-header">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <h2 class="title-en">Contact</h2>
          <h3 class="title-jp">接触</h3>
      </div>
      <div class="bg-anim-1"></div>
      <div class="bg-anim-2"></div>
      <div class="bg-anim-3"></div>
  </div>
</section>
<div class="container">
    <div class="breadcrums">
        <ul aria-label="breadcrumbs">
            <li>
            <a href="/">Top</a>
            </li>
            <li><span>接触</span></li>
        </ul>
    </div>
</div>
<section>
  <div class="container">
      <div class="box-form-contact">
{% form 'contact' %}
  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
  {{ form.errors | default_errors }}
    <div class="title-form">お問い合わせ</div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <label for="ContactFormName">First name</label>
            <input type="text" placeholder="Enter your first name" class="form-control" id="ContactFormName" name="contact[name]">
        </div>
        <div class="col-12 col-lg-6">
            <label for="ContactFormEmail">Last name</label>
            <input type="email" placeholder="Enter your email" class="form-control" id="ContactFormEmail" name="contact[email]">
        </div>
        <div class="col-12">
            <label for="ContactFormPhone">Phone number</label>
            <input type="tel" id="ContactFormPhone" placeholder="+1 201-555-0123" class="form-control" name="contact[phone]">
        </div>
        <div class="col-12">
            <label for="ContactFormMessage">Message</label>
            <textarea rows="10" id="ContactFormMessage" placeholder="Please provide a short description of your business and any questions you have about Designership design systems." class="form-control" name="contact[body]"></textarea>
        </div>
        <div class="col-12">
            <input type="submit" value="送信する">
        </div>
    </div>
{% endform %}

</div>
</div>
</section>