<section>
    <div class="page-header">
        <div class="container">
            <div class="cloud-1">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-2">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-3">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-4">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <h2 class="title-en">About Shimane Furusato Gochiso Mall</h2>
            <h3 class="title-jp">ふるさとごちそうモールについて</h3>
        </div>
        <div class="bg-anim-1"></div>
        <div class="bg-anim-2"></div>
        <div class="bg-anim-3"></div>
    </div>
</section>
<div class="container" style="background: #FFFCF4;">
    <div class="breadcrums">
        <ul aria-label="breadcrumbs">
            <li>
            <a href="/">Top</a>
            </li>
            <li><span>ふるさとごちそうモールについて</span></li>
        </ul>
    </div>
</div>
<section id="about-01">
    <div class="cloud-1">
        <img src="{{"cloud-2.svg" | asset_url}}" alt="">
    </div>
    <div class="cloud-2">
        <img src="{{"cloud-2.svg" | asset_url}}" alt="">
    </div>
    <div class="cloud-3">
        <img src="{{"cloud-2.svg" | asset_url}}" alt="">
    </div>
    <div class="cloud-4">
        <img src="{{"cloud-2.svg" | asset_url}}" alt="">
    </div>
    <div class="container">
        <div class="about-01">
            <div class="box-text-about">
                <h2>About Shimane Furusato Gochiso Mall</h2>
                <p>ふるさとごちそうモールとは</p>
            </div>
            <div class="box-text-about-1">
                <p>島根県の風土や伝統が息づく食品を一挙にご紹介。新鮮な食材や伝統的な加工品、地元の職人が手がけるこだわりの逸品など、島根の食文化が詰まった品々を豊富に取り揃えました。出雲そばや松江牛、地元野菜のおいしさをご堪能いただけるほか、地元の名産品や地ビールなど、島根ならではの味わいもお楽しみください。地元の食材と職人の技が織り成す島根の美味を、ぜひご体験ください。
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="info-shop">
            <div class="main-title mx-auto">
                <h2>Regional specialties</h2>
                <p>地域の特産品</p>
            </div>
            <div class="row pt-3">
                <div class="col-lg-4 col-sm-12">
                    <div class="col-inner">
                        <div class="box-info-shop">
                            <div class="text-center">
                                <img src="{{ 'icon-info.svg' | asset_url}}">
                            </div>
                            <div class="title-info-shop"><span>40+</span>商品数</div>
                            <p>私たちのECサイトでは、厳選された島根県の特産品を多数取り揃えています。現在、数多くの商品を掲載しており、島根県の伝統的な味わいから最新の人気商品まで、様々なニーズにお応えします。  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="col-inner">
                        <div class="box-info-shop">
                            <div class="text-center">
                                <img src="{{ 'icon-info.svg' | asset_url }}">
                            </div>
                            <div class="title-info-shop"><span>1000+</span>ご利用者数</div>
                            <p>当サイトは、島根県の魅力を全国に広めるために運営しています。これまでに非常に多くのお客様にご利用いただき、支持されています。皆様からのご愛顧に心より感謝申し上げます。</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="col-inner">
                        <div class="box-info-shop">
                            <div class="text-center">
                                <img src="{{ 'icon-info.svg' | asset_url }}">
                            </div>
                            <div class="title-info-shop"><span>1500+</span>レビュー</div>
                            <p>当サイトは、島根県の魅力を全国に広めるために運営しています。これまでに多くのお客様にご利用いただき、様々なレビューをいただいております。皆様からのご愛顧に心より感謝申し上げます。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="about-product">
        <div class="container">
            <div class="main-title mx-auto">
                <h2>Best Product</h2>
                <p>人気ランキング</p>
            </div>
            <div class="row g-4 pt-5 product-best">
              {% assign i = 0 %}
              {% for product in collections.best-products.products limit:4 %}
              {%- assign i = i | plus: 1 -%}
                <div class="col-lg-3 col-sm-6 product-item-{{ i }}">
                  <div class="col-inner">
                    <div class="box-product">
                        <div class="img-product wishlist-box">
                          <a href="{{ product.url | within: collection }}">
                            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                          </a>
                        </div>
                        <div class="box-title-product">
                            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                            <div class="price-product">
                                <p>{{ product.price | money }}</p><span>{{ variant.price | money_with_currency }}</span>
                            </div>
                        </div>
                        <div class="box-rate-product">
                            <div class="rate-product">
                                {% render 'product-review' product: product,  handle:product.handle %}
                            </div>
                            <div class="box-btn-add-cart">
                                {% render 'product-card' product: product %}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
  </section>
<section>
    <div class="home-region">
        <div class="container">
            <div class="main-title mx-auto">
                <h2>FAQ</h2>
                <p>よくあるご質問</p>
            </div>
            <div class="sub-title">配送について</div>
            <div class="qalist">
                <div class="qa-item">
                    <div class="q">
                        <span>Q.</span><p>商品はいつ届きますか？</p>
                    </div>
                    <div class="a">
                        <span>A.</span><p>配送先によって異なりますが、通常ご注文後から3～5営業日以内のお届けとなります。</p>
                    </div>
                </div>
                <div class="qa-item">
                    <div class="q">
                        <span>Q.</span><p>配送会社を選べますか？</p>
                    </div>
                    <div class="a">
                        <span>A.</span><p>こちらはご指定ができません。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="home-news">
        <div class="container">
            <div class="main-title mx-auto">
                <h2>News</h2>
                <p>ニュース</p>
            </div>
            <div class="list-home-news mt-5">
                {% assign blog_handle = 'news' %}
                {% assign blog = blogs[blog_handle] %}
                {% for article in blog.articles %}
                    <div class="news-item item-list biggerlink">
                        <div class="date"><span>{{ article.created_at | date: '%Y年%m月%d日'  }}</span></div>
                        <div class="box-cat text-center">
                            <a href="{{ blog.url | escape }}" class="cat catid-1">{{ blog.title | escape }}</a>
                        </div>
                        <div class="title">
                            <a href="{{ article.url }}">{{ article.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pt-5">
                <a href="#" class="btn btn-main">もっと見る</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="about-gallery">
        <div class="container">
            <div class="main-title mx-auto">
                <h2>Gallery</h2>
                <p>島根のギャラリー</p>
            </div>
        </div>
        <div class="container-fluid mt-4">
            <div class="row gap-0">
                <div class="col">
                    <div class="img-gallery">
                        <img src="{{ 'img-2.png' | file_img_url: "master" }}">
                    </div>
                </div>
                <div class="col">
                    <div class="img-gallery">
                        <img src="{{ 'img-3.png' | file_img_url: "master" }}">
                    </div>
                </div>
                <div class="col">
                    <div class="img-gallery">
                        <img src="{{ 'img-4.png' | file_img_url: "master" }}">
                    </div>
                </div>
                <div class="col">
                    <div class="img-gallery">
                        <img src="{{ 'img-5.png' | file_img_url: "master" }}">
                    </div>
                </div>
                <div class="col">
                    <div class="img-gallery">
                        <img src="{{ 'img-6.png' | file_img_url: "master" }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="home-register">
        <div class="container relative z-5">
          <div class="justify-content-center row">
              <div class="col-lg-7 col-12">
                  <div class="main-title mx-auto">
                      <h2>Register</h2>
                      <p>登録する</p>
                  </div>
                  <div class="box-form mt-3">
                    {% form 'contact' %}
                        {{ form.errors | default_errors }}
                        
                        <input type="email" name="" class="form-control" placeholder="メールアドレスを入力" id="">
                        <input type="submit" class="submit-btn" value="登録する">
    
                        {% if form.posted_successfully? %}<div class="form-success">お問い合わせいただきありがとうございます。後ほど、担当者よりご連絡をさせていただきます。今しばらくお待ちいただきますようお願い申し上げます。</div> {% endif %}
                      {% endform %}
                  </div>
                  <p class="text-regis">地元の美味しい食材や観光スポットの最新情報をメールでお届けします。<br class="d-none d-lg-block">登録は簡単！今すぐメールアドレスをご入力ください。</p>
              </div>
          </div>
        </div>
          <div class="bg-anim-1"></div>
          <div class="bg-anim-2"></div>
          <div class="bg-anim-3"></div>
    </div>
  </section>