{% assign current_variant = product.selected_or_first_available_variant %}
<section>
    <div class="page-header">
        <div class="container">
            <div class="cloud-1">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-2">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-3">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <div class="cloud-4">
                <img src="{{"cloud-1.svg" | asset_url}}" alt="">
            </div>
            <h2 class="title-en">Product Details</h2>
            <h3 class="title-jp">商品詳細</h3>
        </div>
        <div class="bg-anim-1"></div>
        <div class="bg-anim-2"></div>
        <div class="bg-anim-3"></div>
    </div>
  </section>
  {% render 'breadcrumbs' %}
<section id="selling-product">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="row g-2">
                  <div class="col-md-3 d-none d-lg-flex">
                      <!-- product-thumbnail-slider -->
                      <div class="swiper product-thumbnail-slider">
                          <div class="swiper-wrapper">
                              {% for image in product.images %}
                                <div class="swiper-slide">
                                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                                </div>
                              {% endfor %}
                          </div>
                      </div>
                      <!-- / product-thumbnail-slider -->
                  </div>
                  <div class="col-md-9">
                      <!-- product-large-slider -->
                      <div class="swiper product-large-slider">
                          <div class="swiper-wrapper">
                              {% for image in product.images %}
                                <div class="swiper-slide">
                                  <img src="{{ image.src | img_url: '' }}" alt="{{ image.alt | escape }}" width="800">
                                </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                      <!-- / product-large-slider -->
              </div>
            </div>
            <div class="col-lg-5">
                <div class="product-info">
                    <div class="element-header">
                            <h2 itemprop="name" class="title-product">{{ product.title }}</h2>
                            <div class="rating-container d-flex gap-0 align-items-center">
                                <div id='epr-product-title-review' data-product-id='{{ product.id }}' data-product-handle='{{ product.handle }}' data-product-title='{{ product.title }}'></div>
                            </div>

                            <div class="mag-pdp-wishlist" pro_handle="{{ product.handle }}"
                                pro-url="{{ product.url }}">
                            </div>
                    </div>
                    <hr>
                    <div class="product-price pt-3 pb-3">
                        <strong>{{ current_variant.price | money }}</strong><del class="ms-2">{{ current_variant.compare_at_price | money }}</del>
                    </div>
                    
                    {%- form 'product', product -%}
                        {% comment %} <label for="Quantity">quantity</label> {% endcomment %}
                        <select name="id" id="productSelect" class="d-none">
                            {% for variant in product.variants %}
                                {% if variant.available %}
                                <option value="{{ variant.id }}">
                                    {{ variant.title }} - {{ product.compare_at_price | money }}
                                </option>
                                {% else %}
                                <option disabled="disabled">
                                    {{ variant.title }} - sold out
                                </option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        <input type="text" id="productSelect" value="{{ variant.id }}" hidden>

                        <div class="cart-wrap">
                            <div class="product-quantity pt-2">
                                <div class="stock-button-wrap">
                                    <div class="d-flex flex-wrap align-items-center gap-2">
                                        <span>購入数</span>
                                        <div class="input-group product-qty align-items-center w-50 me-3">
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="quantity-left-minus btn btn-light btn-number"
                                                    data-type="minus">
                                                    -
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity"
                                                class="form-control input-number text-center p-2 mx-1" value="1">
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="quantity-right-plus btn btn-light btn-number"
                                                    data-type="plus" data-field="">
                                                    +
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        <div class="box-product-button">
                            <button type="submit" name="add" id="AddToCart">カートに入れる</button>
                            <button type="submit" id="checkout" class="cart__checkout-button buynow button" name="checkout" form="cart"></button>
                            {{ form | payment_terms }}
                        </div>
                    {%- endform -%}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container">
      <div class="product-infor">
          <div class="row">
              <div class="col-lg-9">
                  <div class="col-inner">
                      <nav>
                          <div class="nav nav-underline d-flex" id="nav-tab" role="tablist">
                              <button class="nav-link text-uppercase px-4 py-3 active text-black" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">商品説明</button>
                              <button class="nav-link text-uppercase px-4 py-3 text-black" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="false" tabindex="-1">レビュー</button>
                          </div>
                      </nav>
                      <div class="tab-content py-3" id="nav-tabContent">
                          <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            {{ product.description }}
                          </div>
                          <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                            <div id='mag-product-review' data-product='{{ product.id }}' data-product-handle='{{ product.handle }}'></div>
                          </div>
                       </div>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="col-inner">
                      <h5 class="title-side">他の製品</h5>
                      <div class="row pt-2 g-4 product-best">
                        {% for product in collections.best-products.products limit:2 %}
                            <div class="col-lg-12">
                              <div class="col-inner">
                                <div class="box-product">
                                    <div class="img-product wishlist-box">
                                        <a href="{{ product.url | within: collection }}">
                                            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                                        </a>
                                    </div>
                                    <div class="box-title-product">
                                        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                                        <div class="price-product">
                                            <p>{{ product.price | money }}</p><span>{{ product.compare_at_price | money }}</span>
                                        </div>
                                    </div>
                                    <div class="box-rate-product">
                                        <div class="rate-product">
                                            {% render 'product-review' product: product,  handle:product.handle %}
                                        </div>
                                        <div class="box-btn-add-cart">
                                            {% render 'product-card' product: product %}
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var quantityInput = document.getElementById('quantity');
        var minusButton = document.querySelector('.quantity-left-minus');
        var plusButton = document.querySelector('.quantity-right-plus');

        minusButton.addEventListener('click', function() {
            var currentValue = parseInt(quantityInput.value);
            if (!isNaN(currentValue) && currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });

        plusButton.addEventListener('click', function() {
            var currentValue = parseInt(quantityInput.value);
            if (!isNaN(currentValue)) {
                quantityInput.value = currentValue + 1;
            }
        });
    });
</script>