{% paginate search.results by 10 %}
  <form action="/search" method="get" role="search" class="d-none">
    <input type="search" name="q" value="{{ search.terms | escape }}">
    <button type="submit">search</button>
  </form>
<section>
  <div class="page-header">
      <div class="container">
          <div class="cloud-1">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-2">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-3">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <div class="cloud-4">
              <img src="{{"cloud-1.svg" | asset_url}}" alt="">
          </div>
          <h2 class="title-en">Search</h2>
          <h3 class="title-jp">検索</h3>
      </div>
      <div class="bg-anim-1"></div>
      <div class="bg-anim-2"></div>
      <div class="bg-anim-3"></div>
  </div>
</section>
  {% if search.performed %}
    <div class="container list-best-product">
      <div class="row g-4 pt-5">
      {% for item in search.results %}
        <div class="col-lg-3 col-sm-6 product-item">
          <div class="col-inner">
            <div class="box-product">
                <div class="img-product">
                  {% if item.featured_image %}
                    <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                      {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                    </a>
                  {% endif %}
                </div>
                <div class="box-title-product">
                    <h5>{{ item.title | link_to: item.url }}</h5>
                    <div class="price-product">
                        <p>{{ item.price | money }}</p><span>{{ variant.price | money_with_currency }}</span>
                    </div>
                </div>
                <div class="box-rate-product">
                    <div class="rate-product">
                      {% render 'product-review' product: item,  handle:item.handle %}
                    </div>
                    <div class="box-btn-add-cart">
                      {% render 'product-card' product: item %}
                    </div>
                </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
             No results
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
